#lista {
    padding: 20px;
}

#lista>li {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;

    padding-top: 6px;
    padding-bottom: 6px;
    margin: 8px;
    border: 2px;
    border-color: #345678;
    border-style: solid;
}

#lista>li>a {
    color: red;
    border: 2px;
    border-color: red;
    border-style: solid;
    background-color: #16cae1;
}

#lista>li>a:link {
    text-decoration: none;
}


#lista>li>a:visited {
    text-decoration: none;
}


#lista>li>a:hover {
    text-decoration: none;
    border-color: tomato;
    background-color: magenta;
}


#lista>li>a:active {
    text-decoration: none;
    color: red;
    background-color: green;
    border-color: red;
}