p {
    text-align: right;
    font-family: "Comic Sans MS", "Comic Sans";
    font-style: italic;
    color: blue;
}

.first-paragraph {
    text-align: center;
    color: red;
    font-size: 110%;
    font-family: 'Times New Roman', Times, serif;
}

#odlomak2 {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: gray;
}

a:hover {
    color: yellow;
}